#table {
	margin-top: 1rem;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	#table_body_3x3 {

		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		padding: 0 !important;

		// border: 6px solid rgb(5, 5, 5);
		// border-radius: 50px;

		#child_0,
		#child_1,
		#child_2 {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: row;

			div {
			// 	display: flex;
			// 	justify-content: center;
			// 	align-items: center;

			// 	width: 140px;
			// 	height: 140px;
			// 	border: 3px solid rgb(25, 30, 81);
			// 	color: rgb(28, 37, 104);

			// 	font-size: 5rem;
			// 	font-weight: 600;
			}

			.active {
				&:hover {
					background-color: rgba(152, 191, 248, 0.79);
				}
			}

			#id_0 {
				border-left: none;
				border-top: none;
				border-top-left-radius: 30px;
			}

			#id_1 {
				border-top: none;
			}

			#id_2 {
				border-right: none;
				border-top: none;
				border-top-right-radius: 30px;
			}

			#id_3 {
				border-left: none;
			}

			#id_5 {
				border-right: none;
			}

			#id_6 {
				border-left: none;
				border-bottom: none;
				border-bottom-left-radius: 30px;
			}

			#id_7 {
				border-bottom: none;
			}

			#id_8 {
				border-right: none;
				border-bottom: none;
				border-bottom-right-radius: 30px;
			}
		}

		#child_0 {
			border-top-left-radius: 2rem;
			border-top-right-radius: 2rem;
		}

		#child_2 {
			border-bottom-left-radius: 30px;
			border-bottom-right-radius: 30px;
		}
	}

	#table_body_5x5 {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		padding: 0 !important;
        line-height: 0;

		// border: 6px solid rgb(5, 5, 5);
		// border-radius: 50px;

		#child_0,
		#child_1,
		#child_2,
		#child_3,
		#child_4 {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: row;

			div {
				// display: flex;
				// justify-content: center;
				// align-items: center;

				// width: 120px;
				// height: 110px;
				// border: 3px solid rgb(25, 30, 81);
				// color: rgb(28, 37, 104);

				// font-size: 5rem;
				// font-weight: 600;
			}

			.active {
				&:hover {
					background-color: rgba(152, 191, 248, 0.79);
				}
			}

			#id_0,
			#id_5,
			#id_10,
			#id_15,
			#id_20 {
				border-left: none;
			}

			#id_4,
			#id_9,
			#id_14,
			#id_19,
			#id_24 {
				border-right: none;
			}

			#id_0,
			#id_1,
			#id_2,
			#id_3,
			#id_4 {
				border-top: none;
			}

			#id_20,
			#id_21,
			#id_22,
			#id_23,
			#id_24 {
				border-bottom: none;
			}

			#id_0 {
				border-top-left-radius: 30px;
			}

			#id_20 {
				border-bottom-left-radius: 30px;
			}

			#id_4 {
				border-top-right-radius: 30px;
			}

			#id_24 {
				border-bottom-right-radius: 30px;
			}
		}

		#child_0 {
			border-top-left-radius: 30px;
			border-top-right-radius: 30px;
		}

		#child_4 {
			border-bottom-left-radius: 30px;
			border-bottom-right-radius: 30px;
		}
	}
}
