/*  Form Component */

/* 1st div in form return */
.form-parent-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 100%;
  }
  
  /* 2nd div in form return */
  .form-wrapper {
    background-color: rgb(244, 247, 250);
    border-radius: 1rem;
    padding: 2.5rem;
    padding-top: 1rem;
    width: 25rem;
  }
  
  /* Sign in header3 */
  .form-header3 {
    text-align: center;
    padding: .5rem;
    letter-spacing: 0.2rem;
    color: rgb(115, 115, 115);
  }
  
  /*  form submit button */
  .form button {
    width: 100%;
  }
  
  /* form inputs  */
  .form input {
    margin-bottom: 1rem;
   }
  
   /* form labels  */
   .form label {
    margin: 0px;
    color: #bbb;
   }