#subheader {

    margin: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;

    
    background: blue;

}



.setting-wrapper {

    background: red;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;


    span {

        display: inline;
        border: 1px solid black;
        margin: 0 .5rem;
        padding: .5rem;
    
        border-radius: 5px;
    
        cursor: pointer;
        font-weight: 600;
    }

}


